.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  min-height: 200px; /* Ajusta la altura mínima según tus necesidades */
}

.footer {
  margin-top: 20px; /* Ajusta la cantidad de margen según tu preferencia */
}
.card {
  background-color: #fff; /* Agrega un fondo blanco */
  border: 1px solid #ccc; /* Agrega un borde gris */
}
.custom-image-class {
  max-width: 200px; /* Ajusta el tamaño máximo según tus preferencias */
  height: auto; /* Mantiene la proporción de aspecto */
}
